.notification-wrapper {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 700px;
}

.notification-item {
    box-shadow: 0 0 10px rgba(0,0,0, 0.3);
    border-radius: 10px;
    overflow: auto;
    margin-bottom: 20px;
    padding-right: 15px;
    animation: SlideLeft 0.4s;
    animation-fill-mode: forwards;
    width: 600px;
    min-height: 800px;
    background-color: white;
}

@keyframes SlideLeft {
    0% {
        margin-left: 120%;
    }

    100% {
        margin-left: 0;
    }
}

@keyframes SlideRight {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: 120%;
    }
}

.notification-item.exit {
    animation: SlideRight 0.4s;
    animation-fill-mode: forwards;
}

.notification-item p {
    margin: 0;
    padding: 10px;
}

.notification-item h4 {
    margin: 0;
    padding: 10px;
    font-size: 13pt;
    font-weight: 500;
}

.notification-item .bar {
    height: 10px;
}

.notification-item.success .bar {
    background-color: #65d266;
}

.notification-item.error .bar {
    background-color: red;
}

.notification-item button {
  float: right;
  background: none;
  border: none;
  color: #000000;
  opacity: 0.8;
  cursor: pointer;
  margin-right: 5px;
}