@font-face {
  font-family: 'MesloLGS NF';
  src: url('./assets/MesloLGS\ NF\ Regular.ttf') format('truetype'),
    url('./assets/MesloLGS\ NF\ Italic.ttf') format('truetype'),
    url('./assets/MesloLGS\ NF\ Bold\ Italic.ttf') format('truetype'),
    url('./assets/MesloLGS\ NF\ Bold.ttf') format('truetype');
}

.meslo {
  font-family: 'MesloLGS NF';
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
