@font-face {
  font-family: 'MesloLGS NF';
  src: url('./assets/MesloLGS\ NF\ Regular.ttf') format('truetype'),
    url('./assets/MesloLGS\ NF\ Italic.ttf') format('truetype'),
    url('./assets/MesloLGS\ NF\ Bold\ Italic.ttf') format('truetype'),
    url('./assets/MesloLGS\ NF\ Bold.ttf') format('truetype');
}

.meslo {
  font-family: 'MesloLGS NF';
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
